{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if selfuser %}
        <h3 class="text-center mt-5 text-uppercase fw-bold">
            {{ profile[3] }} (Te)
            {% if profile[8] == 0 %}
                <img src="{{ url_for('static', filename='img/man.svg') }}" alt="man" class="img-fluid">
            {% else %}
                <img src="{{ url_for('static', filename='img/woman.svg') }}" alt="woman" class="img-fluid">
            {% endif %}
        </h3>
        <p class="text-center mb-1">Utoljára bejelentkeztél: {{ profile[7] }}</p>
        <p class="text-center mb-5">Azonosítód: <span id="useridentifierself" class="fw-bold">{{ profile[1] }}</span></p>
    {% else %}
        <h3 class="text-center mt-5 text-uppercase fw-bold">
            {{ profile[3] }}
            {% if profile[8] == 0 %}
                <img src="{{ url_for('static', filename='img/man.svg') }}" alt="man" class="img-fluid">
            {% else %}
                <img src="{{ url_for('static', filename='img/woman.svg') }}" alt="woman" class="img-fluid">
            {% endif %}
        </h3>
        <p class="text-center mb-5">Utoljára bejelentkezett: {{ profile[7] }}</p>
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages[3] != "null" and messages %}
            <div class="row my-5">
                <div class="col-12 col-md-8 mx-auto text-center alert alert-success">
                    {{ messages[3] }}
                </div>
            </div>
        {% endif %}
        {% if messages[4] != "null" and messages %}
            <div class="row my-5">
                <div class="col-12 col-md-8 mx-auto text-center alert alert-danger text-uppercase">
                    {{ messages[4] }}
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <div class="row mb-3">
        <div class="col-12 col-md-3">
            <h5>Quizek: </h5>
        </div>
    </div>
    {% if quizzescount != False %}
    <div class="row mb-5 ps-3">
        {% for quiz in range(quizzescount) %}
        <div class="col-12 col-md-6 col-lg-4 my-3">
            <div class="card">
                <div class="card-body">
                    <span class="px-2 py-1 float-end ms-2 cardscontroller">{{ quizzes[quiz][7] }}</span>
                    {% if selfuser %}
                        <form method="post" action="/deletequiz" id="delete{{ quiz }}">
                            <input type="hidden" name="quizid" value="{{ quizzes[quiz][1] }}">
                            <a href="#" onclick="document.getElementById('delete{{ quiz }}').submit()">
                                <span class="px-2 py-1 float-end ms-2 trash">
                                    <i class="fa fa-trash" aria-hidden="true" style="color: white;"></i>
                                </span>
                            </a>
                        </form>
                        <a href="/editquiz/{{ quizzes[quiz][1] }}">
                            <span class="px-2 py-1 float-end ms-2 pencil">
                                <i class="fa fa-pencil" aria-hidden="true" style="color: white;"></i>
                            </span>
                        </a>
                        <span class="px-2 py-1 float-end ms-2" style="margin-top: 2px">
                            {% if quizzes[quiz][8] == 0 %}
                                <div class="controllerparents">
                                    <form action="/quiztopublic" id="quiztopublic{{ quiz }}" method="post">
                                        <input type="hidden" name="quizid" value="{{ quizzes[quiz][1] }}">
                                        <a href="#" onclick="document.getElementById('quiztopublic{{ quiz }}').submit()">
                                            <img src="{{ url_for('static', filename='img/lock.svg') }}" alt="Lock" class="controllericons">
                                        </a>
                                    </form>
                                </div>
                            {% else %}
                                <div class="d-flex">
                                    <div class="mx-3 controllerparents">
                                        <form action="/quiztoprivate" id="quiztoprivate{{ quiz }}" method="post">
                                            <input type="hidden" name="quizid" value="{{ quizzes[quiz][1] }}">
                                            <a href="#" onclick="document.getElementById('quiztoprivate{{ quiz }}').submit()">
                                                <img src="{{ url_for('static', filename='img/globe.svg') }}" alt="Unlock" class="controllericons">
                                            </a>
                                        </form>
                                    </div>
                                    {% if quizzes[quiz][9] == 0 %}
                                        <div class="controllerparents">
                                            <form action="/quizshowinsearch" id="quizshowinsearch{{ quiz }}" method="post">
                                                <input type="hidden" name="quizid" value="{{ quizzes[quiz][1] }}">
                                                <a href="#" onclick="document.getElementById('quizshowinsearch{{ quiz }}').submit()">
                                                    <img src="{{ url_for('static', filename='img/nomagn.svg') }}" alt="NoMagnifier" class="controllericons">
                                                </a>
                                            </form>
                                        </div>
                                    {% else %}
                                        <div class="controllerparents">
                                            <form action="/quizhideinsearch" id="quizhideinsearch{{ quiz }}" method="post">
                                                <input type="hidden" name="quizid" value="{{ quizzes[quiz][1] }}">
                                                <a href="#" onclick="document.getElementById('quizhideinsearch{{ quiz }}').submit()">
                                                    <img src="{{ url_for('static', filename='img/magnifier.svg') }}" alt="Magnifier" class="controllericons">
                                                </a>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </span>
                    {% endif %}
                    <a href="/quiz/{{ quizzes[quiz][1] }}">{{ quizzes[quiz][2] }}</a>
                    <p>{{ categnames[quiz] }}</p>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row mb-3 ps-3">
        <div class="col-12 col-md-8">
            {% if selfuser %}
                <h5>Még nem készítettél quizeket.</h5>
            {% else %}
                <h5>Még nem készített quizeket a felhasználó.</h5>
            {% endif %} 
        </div>
    </div>
    {% endif %}

    {% if selfuser %}
    <div class="row mb-5">
        <div class="col-12 col-md-3">
            <h5>Fiók kezelése: </h5>
        </div>
    </div>
    <div class="row mb-3 ps-3">
        <div class="col-12 col-md-8">
            <span class="lead">Adatok szerkesztése: </span>
            {% with messages = get_flashed_messages() %}
                {% if messages[0] != "null" and messages %}
                    <div class="row my-5">
                        <div class="col-12 col-md-8 mx-auto text-center alert alert-success">
                            {{ messages[0] }}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="row mb-5">
                <form class="col-12 col-md-6 mx-auto needs-validation" id="dataupdate" method="POST" action="/editprofile" novalidate>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 my-2 pe-3">
                                  <label for="validationDefaultUsername" class="form-label">Felhasználónév</label>
                                  <div class="input-group">
                                    <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend1" name="username" value="{{profile[3]}}" required>
                                  </div>
                                </div>
                                <div class="col-12 my-2 pe-3">
                                    <label for="validationDefaultEmail" class="form-label">Email</label>
                                    <div class="input-group">
                                      <input type="email" class="form-control" id="validationDefaultEmail" aria-describedby="inputGroupPrepend2" name="email" value="{{profile[2]}}" required>
                                    </div>
                                </div>
                            </div>
                            {% with messages = get_flashed_messages() %}
                                {% if messages[1] != "null" and messages %}
                                    <div class="row my-3">
                                        <div class="col-12 col-md-8 mx-auto text-center alert alert-danger text-uppercase">
                                            {{ messages[1] }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-12 my-5">
                            <button class="btn btn-primary" id="submitbuttondataupdate">Mentés</button>
                        </div>
                    </div>
                </form>  
                <form class="col-12 col-md-6 mx-auto needs-validation" id="pwupdate" method="POST" action="/updatepass" novalidate>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 my-2 ps-3">
                                    <label for="validationDefaultOldPass" class="form-label">Régi jelszó:</label>
                                    <div class="input-group d-flex">
                                        <input type="password" class="form-control" id="validationDefaultOldPass" aria-describedby="inputGroupPrepend1" name="passold">
                                        <div class="input-group-text">
                                            <i class="fa fa-eye" aria-hidden="true" id="togglepassword1"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 my-2 ps-3">
                                    <label for="validationDefaultNewPass1" class="form-label">Új jelszó:</label>
                                    <div class="input-group d-flex">
                                        <input type="password" class="form-control" id="validationDefaultNewPass1" aria-describedby="inputGroupPrepend2" name="passnew1">
                                        <div class="input-group-text">
                                            <i class="fa fa-eye" aria-hidden="true" id="togglepassword2"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="alert py-3 mb-0 d-none" role="alert" id="password-alert">
                                        <ul class="list-unstyled mb-0">
                                        <li class="requirements leng">
                                            <i class="fas fa-check text-success me-2"></i>
                                            <i class="fas fa-times text-danger me-3"></i>
                                            Minimum 8 karakter</li>
                                        <li class="requirements big-letter">
                                            <i class="fas fa-check text-success me-2"></i>
                                            <i class="fas fa-times text-danger me-3"></i>
                                            Minimum 1 nagy betű</li>
                                        <li class="requirements num">
                                            <i class="fas fa-check text-success me-2"></i>
                                            <i class="fas fa-times text-danger me-3"></i>
                                            Minimum 1 szám</li>
                                        <li class="requirements special-char">
                                            <i class="fas fa-check text-success me-2"></i>
                                            <i class="fas fa-times text-danger me-3"></i>
                                            Minimum 1 speciális karakter</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 my-2 ps-3">
                                    <label for="validationDefaultNewPass2" class="form-label">Új jelszó megerősítése:</label>
                                    <div class="input-group d-flex">
                                        <input type="password" class="form-control" id="validationDefaultNewPass2" aria-describedby="inputGroupPrepend2" name="passnew2">
                                        <div class="input-group-text">
                                            <i class="fa fa-eye" aria-hidden="true" id="togglepassword3"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% with messages = get_flashed_messages() %}
                                {% if messages[2] != "null" and messages %}
                                    <div class="row my-3">
                                        <div class="col-12 col-md-8 mx-auto text-center alert alert-danger text-uppercase">
                                            {{ messages[2] }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-12 my-5">
                            <button class="btn btn-primary float-end" id="submitbuttonpwupdate">Frissítés</button>
                        </div>
                    </div>
                </form>
            </div>
            <span class="lead">Fiók műveletek: </span>
            <div class="row mb-5">
                <form class="col-12 mx-auto" method="POST" action="/deleteprofile" novalidate>
                    <div class="row">
                        <div class="col-12 my-2">
                            <button type="submit" class="btn btn-danger text-uppercase" id="submitbuttondelete">Fiók és annak minden tartalmának törlése</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

</div>
<script src="{{ url_for('static', filename='js/profile/script.js') }}"></script>
{% endblock %}
</body>
</html>