* {
    --color1: #75A8AC;
    --color2: #98D0D4;
    --color3: #4B878B;
    --color4: #3e6d70;
    --color5: #93c4c9;
    --color6: rgb(231, 231, 231);
    --color7: #2d4f52;
}

.wrong .fa-check
{
    display: none;
}

.good .fa-times
{
    display: none;
}

.quizcard
{
    min-height: 25vh;
}

.cardimg
{
    max-height: 24vh;
}

#cardsholder {
    border: 0.3px solid gray;
    border-radius: 10px;
}

.navbar{
    background-color: var(--color1);
}

.bubblebutton{
    background-color: var(--color2);
    
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.bubblebutton:hover{
    background-color: var(--color5);
}

a{
    text-decoration: none;
}

.bubbleconbo{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}
.bubbleconbo:hover{
    background-color: var(--color6);
}

#homebutton{
    background-color: var(--color3);
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

#homebutton:hover{
    background-color: var(--color4);
}

.gombszin{
    background-color: var(--color3);
    border: none;
}

.gombszin:hover, .gombszin:focus, .gombszin:active, .gombszin:checked{
    background-color: var(--color4);
}


hr{
    color: var(--color3);
    border: solid 2px var(--color4);
    border-radius: 10px;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--color7);
}
  
::-webkit-scrollbar-thumb{
    background: var(--color3);

}

footer{
    background-color: var(--color1);
}