<!doctype html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Variable Metas -->
    <meta property="og:url" content="https://quizr.tmarccci.hu" />
    <meta name="og:site_name" content="QuizR">
    <meta name="theme-color" content="#75A8AC" />
    <meta name="og:title" content="{{ title }}">
    <meta itemprop="name" content="{{ title }}">
    <meta name="keywords" content="quizr, quizek, tanulás, iskola, projekt, matek, fizika, képes, vidámtanulás, vidámság, kártyák, quizkártyák, paklik, pakli, tanuljgyorsan, gyors tanulás">
    <meta name="description" content="{{ description }}">
    <meta name="og:description" content="{{ description }}">
    <meta itemprop="description" content="{{ description }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:image" content="{{ url_for('static', filename='img/Logo.png') }}">
    <meta name="og:type" content="website">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <meta name="og:image" content="{{ url_for('static', filename='img/Logo.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <header class="navbar">
      <div class="container-fluid">
        <div class="navbar-brand ms-1" style="margin-top: -2px;">
          <span style="font-weight: bold">QuizR</span>
        </div>

          {% if home != True %}
          <div class="me-auto">
            <!-- Ha a felhasználó nem a főoldalon van akkor mutatja a főoldal gombot. -->
              <a href="{{ url_for('index') }}" class="nav-link navbarbuttonself btn" aria-current="page">Főoldal</a>
          </div>
          {% endif %}

        {% if logged_in %}
        <!-- Ha be vagy jelentkezve, akkor mutatja a kijelentkezés gombot -->
          <div class="d-flex align-middle">
            <div class="text-center row">
              <span class="my-auto">
                {% if gender == "M" %}
                  <div class="ms-3 me-1">
                    <a class="text-dark me-2 bubblecombo btn" href="/profile/{{ useridself }}">{{ name }} 
                      <img src="{{ url_for('static', filename='img/man.svg') }}" alt="man" class="img-fluid">
                    </a>
                  </div>
                {% else %}
                  <div class="ms-3 me-1">
                    <a class="text-dark me-2 bubblecombo btn" href="/profile/{{ useridself }}">{{ name }}
                      <img src="{{ url_for('static', filename='img/woman.svg') }}" alt="woman" class="img-fluid">
                    </a>   
                  </div>
                {% endif %}
              </span>
            </div>
            <div class="d-flex me-1 text-center">
                <a href="/logout" class="nav-link nav-link bubblebutton me-1 btn" aria-current="page"><i class="fa fa-sign-out px-1" aria-hidden="true"></i></a>
            </div>
          </div>

        {% else %}
        <!-- Nincs bejelentkezve a felhasznéló -->

          <div class="d-flex me-2 text-center">
            {% if reg %}
              <!-- A felhasználó a regisztráció oldalon van -->
                <a href="/login" class="nav-link bubblebutton me-1 btn" aria-current="page">Bejelentkezés</a>
            {% elif reg == False %}
              <!-- A felhasználó a bejelentkezés oldalon van -->
                <a href="/register" class="nav-link bubblebutton me-1 btn" aria-current="page">Regisztráció</a>
            {% else %}
              <!-- A felhasználó a egyik bejelentkező oldalon sincs (Főoldal, Vagy aloldalak) -->
                <a href="/register" class="nav-link bubblebutton me-3 btn" aria-current="page">Regisztráció</a>
                <a href="/login" class="nav-link bubblebutton me-1 btn" aria-current="page">Bejelentkezés</a>
            {% endif %}
          </div>
          
        {% endif %}
      </div>
    </header>
    <main class="container-fluid tartalom my-5 pb-5">
        {% block content %} {% endblock %}
    </main>
    <footer class="container-fluid text-center h-50 py-5">
      <div class="row">
        <div class="col align-self-center">
          <div class="row"><a href="/" class="footerlink" aria-current="page">Főoldal</a></div>
          <div class="row"><a href="/search" class="footerlink" aria-current="page">Kereső</a></div>
        </div>
        <div class="col align-self-center">
          <div class="row"><a href="/createquiz" class="footerlink" aria-current="page">Új Quiz Pakli Készítése</a></div>
          <div class="row"><a href="/howtomakequiz" class="footerlink" aria-current="page">Quiz Pakli Készítési Útmutató</a></div>
          <div class="row"><a href="/policy" class="footerlink" aria-current="page">Adatkezelési Tájékoztató</a></div>
        </div>
        <div class="col align-self-center">
          QuizR &copy; 2023
        </div>
      </div>
    </footer>
  </body>
</html>