<!doctype html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Variable Metas -->
    <meta property="og:url" content="https://quizr.tmarccci.hu" />
    <meta name="og:site_name" content="QuizR">
    <meta name="theme-color" content="#75A8AC" />
    <meta name="og:title" content="{{ title }}">
    <meta itemprop="name" content="{{ title }}">
    <meta name="keywords" content="quizr, quizek, tanulás, iskola, projekt, matek, fizika, képes, vidámtanulás, vidámság, kártyák, quizkártyák, paklik, pakli, tanuljgyorsan, gyors tanulás">
    <meta name="description" content="{{ description }}">
    <meta name="og:description" content="{{ description }}">
    <meta itemprop="description" content="{{ description }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:image" content="{{ url_for('static', filename='img/Logo.png') }}">
    <meta name="og:type" content="website">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <meta name="og:image" content="{{ url_for('static', filename='img/Logo.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/Logo.png') }}" type="image/png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <header class="navbar">
      <div class="container-fluid">
        <div class="navbar-brand" style="margin-top: -2px;">
          <!-- Brand ide -->
          <span>QuizR</span>
        </div>

          {% if home != True %}
          <div class="me-auto">
            <!-- Ha a felhasználó nem a főoldalon van akkor mutatja a főoldal gombot. -->
              <div id="homebutton"><a href="{{ url_for('index') }}" class="nav-link" aria-current="page">Főoldal</a></div>
          </div>
          {% endif %}

        {% if logged_in %}
        <!-- Ha be vagy jelentkezve, akkor mutatja a kijelentkezés gombot -->
          <div class="d-flex mx-2 align-middle">
            <div class="text-center row">
              <span class="my-auto">
                {% if gender == "M" %}
                  <div class="bubbleconbo mx-3 btn"><a class="text-dark me-2" href="/profile/{{ useridself }}">{{ name }}</a>   <img src="{{ url_for('static', filename='img/man.svg') }}" alt="man"></div>
                {% else %}
                  <div class="bubbleconbo mx-3 btn"><a class="text-dark me-2" href="/profile/{{ useridself }}">{{ name }}</a>   <img src="{{ url_for('static', filename='img/woman.svg') }}" alt="woman"></div>
                {% endif %}
              </span>
            </div>
            <div class="d-flex me-2 text-center">
                <div class="bubblebutton btn"><a href="/logout" class="nav-link mx-2" aria-current="page">Kijelentkezés</a></div>
            </div>
          </div>

        {% else %}
        <!-- Nincs bejelentkezve a felhasznéló -->

          <div class="d-flex me-2 text-center">
            {% if reg %}
              <!-- A felhasználó a regisztráció oldalon van -->
                <div class="bubblebutton me-3 btn"><a href="/login" class="nav-link " aria-current="page">Bejelentkezés</a></div>
            {% elif reg == False %}
              <!-- A felhasználó a bejelentkezés oldalon van -->
                <div class="bubblebutton me-3 btn"><a href="/register" class="nav-link " aria-current="page">Regisztráció</a></div>
            {% else %}
              <!-- A felhasználó a egyik bejelentkező oldalon sincs (Főoldal, Vagy aloldalak) -->
                <div class="bubblebutton me-3 btn"><a href="/register" class="nav-link " aria-current="page">Regisztráció</a></div>
                <div class="bubblebutton me-3 btn"><a href="/login" class="nav-link " aria-current="page">Bejelentkezés</a></div>
            {% endif %}
          </div>
          
        {% endif %}
      </div>
    </header>
    <main class="container-fluid">
        {% block content %} {% endblock %}
    </main>
    <footer class="py-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-center">
            <p class="m-0">QuizR &copy; 2023</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>