{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center my-5 py-3">Az alkalmazás használata</h1>
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto my-4">
                <h2 class="mb-4">Bejelentkezés / regisztráció</h2>
                <p>A kártya paklik használatához először be kell jelentkeznie a felhasználónak. Ha a felhasználónak még nincs fiókja akkor a regisztráció gombra kattintva tud létre hozni egyet. Ha a felhasználónak már van fiókja akkor a bejelentkezés gombra kattintva tud bejelentkezni. Vagy az alábbi gombokra kattintva:</p>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-2 mx-auto"><button onclick="location.href='/register'" type="button" class="btn btn-primary btn-lg px-4 mx-auto">Regisztráció</button></div>
            <div class="col-md-2 mx-auto"><button onclick="location.href='/login'" type="button" class="btn btn-primary btn-lg px-4 mx-auto">Bejelentkezés</button></div>
        </div> 
    </div>

    <div class="continer my-4">
        <div class="row justify-content-center">
            <div class="col-6">
                <hr>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row">
            <div class="col-8 mx-auto">
                <h2 class="mb-4">Paklik keresése</h2>
                <p>Ahhoz hogy a Paklik között tudjuk keresni le kell görgetnünk az oldal aljéra és a láblécen található "Kereső" gombra (Vagy az alábbi gombra) kell kattintanunk. Ezután megjelenik elöttünk a kereső oldal. Ha egy pakli nevére rá akarunk keresni akkor egyszerűen beírjük a keresendő nevet a kereső mezőbe, és ezután rákattintunk a "Keresés" gombra. Ezután me jellennek a keresett paklik. Ha a paklik kategóriáját akarjuk megadni akkor jobb oldalon az adott kategóriára kattintva tehetjük meg ezt. Ezután már csak rá kell kattintanunk az általunk kiválasztott pakilra és már használhatja is a pakilt.</p>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-2 mx-auto"><button onclick="location.href='/search'" type="button" class="btn btn-primary btn-lg px-4 mx-auto">Keresés</button></div>
        </div> 
    </div>

    
    <div class="continer my-4">
        <div class="row justify-content-center">
            <div class="col-6">
                <hr>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row">
            <div class="col-8 mx-auto">
                <h2 class="mb-4">Paklik használata</h2>
                <p>A pakilik használata nagyon egyszerű. Ha már rá kattintottunk az általunk kiválasztott paklira akkor megjelenik elöttünk maga a pakli, és a paklibol az első kártya. Miután megválasszoltuk a kártyán szereplő kérdést csak annyit kell tennünk hogy a kártyára rákattintva (vagy az enter gombot megynomva) megfordítjuk a kártyát hogy elolvashassuk a választ. Mikor tovább szeretnénk lépni a kártyárol akkor a kártya alatt található nyilak (vagy a billentyűzeten a nyilak) segítségével tudunk mozogni a kártyák között.</p>
            </div>
        </div>
    </div>

    <div class="continer my-4">
        <div class="row justify-content-center">
            <div class="col-6">
                <hr>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row">
            <div class="col-8 mx-auto">
                <h2 class="mb-4">Új quiz készítése</h2>
                <p>Ha új paklit akarunk készíteni csak annyi a dolgunk hogy az oldal alján az "Új quiz készítése" gombra kattintunk. Ha ezt megtettük akkor már hozzá is foghatunk a paklik készítéséhez. <br> Előszőr is el kell neveznünk a paklit és ki kell választanunk a pakli kategótiáját. Ezután ki kell választanunk a kártya láthatóságát. Ha ezek megvoltak akkor elkezdhetjük írni a kártyákat. <br> A kártyákat úgy tudjuk megírni, hogy elsőnek kiválasztjuk hogy szöveget vagy képet akarunk megadni. Ezután ha szöveget akarunk megadni akkor A bal oldali mezőbe írjuk a kérdést és a jobb oldali mezőbe a választ. Ha kifogytunk a kártyákbol a "+1 kártya" gombra kattintva tudunk létrehozni mégegyet. Ha képet akarünk megadi akkor rá kell kattintanunk a a kép ikonra. Ezután a kívánt képre jobb egér gombal rákattintva a "Kép cím másolása" gombra kell katintanunk. Ezután ezt a linket kell bemásolnunk a mezőbe. </p>
            </div>
        </div>
    </div>
    <div class="container">
        <img class="img-fluid border rounded-3 d-block mx-auto" src="{{ url_for('static', filename='img/howtocopy.png') }}" alt="check">
    </div>

</div>

{% endblock %}
</body>
</html>