{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h3 class="text-center my-5 py-3 text-uppercase">Adatkezelési tájékoztató</h3>
    <div class="container" id="policy">
        <p>A jelen adatkezelési tájékoztató (a továbbiakban: "Tájékoztató") célja, hogy tájékoztasson a weboldalunkon történő adatkezelési gyakorlatunkról, valamint az Ön (a weboldal látogatójának vagy felhasználójának) jogairól az Európai Unió adatvédelmi jogszabályai, ideértve a GDPR-t, alapján.</p>
        <ol>
            <li>
                <b>Az adatkezelő</b><br>
                Az adatkezelő a következő:
                <div class="ms-5">
                    Név: Tihanyi Marcell <br>
                    Székhely: 1188 Ültetvény utca 4<br>
                    E-mail: contact@tmarccci.hu <br>
                    Telefonszám: +36 30 135 4675 <br>
                </div>
            </li>
            <li>
                <b>Az adatkezelés célja és jogalapja</b><br>
                Az általunk gyűjtött személyes adatokat az alábbi célokra és jogalapok alapján kezeljük:
                <div class="ms-5">
                    Felhasználói élmény maximalizálása: A weboldalunk használatának lehetővé tétele és optimalizálása.
                    Jogalap: A szerződés teljesítése és az érdeklődő hozzájárulása.
                </div>
            </li>
            <li>
                <b>Gyűjtött adatok típusa</b><br>
                Az általunk gyűjtött adatok körébe tartozhatnak a következők:
                <ul>
                    <li>Személyes adatok: felhasználónév, e-mail cím, születési dátum, nem.</li>
                    <li>Technikai információk: IP-cím, böngésző típusa, operációs rendszer.</li>
                </ul>
            </li>
            <li>
                <b>Az adatok tárolása és továbbítása</b><br>
                Az általunk gyűjtött adatokat biztonságosan tároljuk, és csak annyi ideig őrizzük meg, amíg szükséges a tájékoztatóban meghatározott célok teljesítéséhez vagy az adott jogszabályok előírásainak való megfeleléshez. Az adatokat harmadik felekkel csak az alábbi esetekben oszthatjuk meg: <br>
                <ul>
                    <li>A weboldal üzemeltetőivel és szolgáltatóival, akik az adatkezeléshez szükséges szolgáltatásokat nyújtanak.</li>
                    <li>Jogi kötelezettségek teljesítése érdekében, például hatósági vagy bírósági végzés alapján.</li>
                    <li>Az adatok harmadik feleknek történő továbbítása előtt mindig gondoskodunk arról, hogy megfelelő védelmi intézkedéseket alkalmazzunk a biztonságuk érdekében.</li>
                </ul>
            </li>
            <li>
                <b>Az Ön jogai</b><br>
                Az adatvédelmi jogszabályok értelmében Ön jogosult az alábbi jogok gyakorlására az Önre vonatkozó személyes adatok tekintetében: <br>
                <ul>
                    <li>Hozzáférési jog: Ön jogosult tájékoztatást kérni arról, hogy milyen személyes adatokat kezelünk Önről.</li>
                    <li>Helyesbítéshez való jog: Ön jogosult kérni az Önre vonatkozó pontatlan vagy hiányos személyes adatok helyesbítését.</li>
                    <li>Törléshez való jog: Ön jogosult kérni az Önre vonatkozó személyes adatok törlését.</li>
                </ul>
            </li>
            <li>
                <b>Kapcsolatfelvétel</b><br>
                Amennyiben kérdése vagy kérése merül fel az adatkezelési gyakorlatunkkal kapcsolatban, vagy szeretné gyakorolni az Ön jogait, kérjük, vegye fel velünk a kapcsolatot az alábbi elérhetőségeken: <br>
                <div class="ms-5">
                    Név: Tihanyi Marcell <br>
                    Székhely: 1188 Ültetvény utca 4/a <br>
                    E-mail: contact@tmarccci.hu <br>
                    Telefonszám: +36 30 135 4675
                </div>
            </li>
        </ol>
    </div>

</div>

{% endblock %}
</body>
</html>