{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h3 class="text-center mt-5 text-uppercase">{{ quiz[2] }}</h3>
    <h5 class="text-center mb-5 text-uppercase">{{ quizcategory }}</h5>
    <p class="text-center mb-5">
        Készítette: <a href="/profile/{{ quiz[6] }}">{{ quizcreator }}</a>
        <br class="d-md-none">
        <strong class="d-none d-md-inline">-</strong> Készítve: {{ quiz[4] }}
        <br class="d-md-none">
        {% if quiz[4] != quiz[5] %}
        <strong class="d-none d-md-inline">-</strong> Legutóbb módosítva: {{ quiz[5] }}
        {% endif %}
    </p>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="col-12 col-md-7 mx-auto text-center alert alert-info text-uppercase mb-5">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="row mx-auto">
            <div class="col-1 col-md-3 d-flex align-items-center justify-content-center">
            </div>
            <a href="javascript:flipCard()" class="col-10 col-md-6 h5" style="color: black;">
                <div class="tab-content text-center" id="cardsholder">
                    {% for i in range(quiz[7]) %}
                        {% if i == 0 %}
                            <div class="quizcard tab-pane fade show active d-flex align-items-center justify-content-center p-5" id="card-{{ i }}">
                        {% else %}
                            <div class="quizcard tab-pane fade align-items-center justify-content-center p-5" id="card-{{ i }}">
                        {% endif %}
                                <span id="card{{ i }}front" class="align-middle">
                                    {% if quizcontents[i][1] == "text" %}
                                        {{ quizcontents[i][3]|safe }}
                                    {% else %}
                                        <img src="{{ quizcontents[i][3] }}" alt="Ha ezt látod, akkor a kép URL hibás" class="img-fluid cardimg">
                                    {% endif %}
                                </span>
                                <span id="card{{ i }}back" class="d-none align-middle">
                                    {% if quizcontents[i][2] == "text" %}
                                        {{ quizcontents[i][4]|safe }}
                                    {% else %}
                                        <img src="{{ quizcontents[i][4] }}" alt="Ha ezt látod, akkor a kép URL hibás" class="img-fluid cardimg">
                                    {% endif %}
                                </span>
                            </div>
                    {% endfor %}
                </div>
            </a>
            <div class="col-1 col-md-3 d-flex align-items-center justify-content-center">
            </div>
        </div>
        <div class="row mt-4 text-center">
            <div class="col-4 col-md-5"></div>
            <div class="col-2 col-md-1 mx-auto">
                <a href="javascript:prevCard()" class="navoncard p-2 mx-auto">
                    <i class="fa fa-arrow-left" aria-hidden="true" style="color: white;">
                    </i>
                </a>
            </div>
            <div class="col-2 col-md-1 mx-auto">
                <a href="javascript:nextCard()" class="navoncard p-2 mx-auto">
                    <i class="fa fa-arrow-right" aria-hidden="true" style="color: white;">
                    </i>
                </a>
            </div>
            <div class="col-4 col-md-5"></div>
        </div>
        <div class="row mt-4 mb-3">
            <span class="text-center">Kártya: <span id="currentcardtext">1</span> / <span id="maxcardtext">{{ quiz[7] }}</span></span>
        </div>
        <p class="text-center my-5" id="copylink">
            <a class="sharegomb sharegomb-icon sharegomb-url" href="javascript:copyLink()"><i class="fa fa-external-link"></i><span class="ms-2">Quiz Link másolása</span></a>
        </p>
        <script>
            function copyLink() {
                navigator.clipboard.writeText("https://quizr.tmarccci.hu/quiz/{{ quiz[1] }}");

                // Replace copylink innerHTML to
                document.getElementById("copylink").innerHTML = '<div class="col-12 col-md-8 mx-auto text-center alert alert-success">A quiz linkje sikeresen a vágólapra lett téve!<br><a class="sharegomb sharegomb-icon sharegomb-url" href="javascript:copyLink()"><i class="fa fa-external-link"></i><span class="ms-2">Másol megint</span></a></div>';
            }
        </script>
        <div class="row my-5">
            <div class="col-4 col-md-5 mx-auto">
                <hr>
            </div>
        </div>
        <div class="row mt-5 h4">
            Quiz elemei:
        </div>
        {% for i in range(quiz[7]) %}
        <div class="row mt-4">
            <div class="col-6">
                {{ quizcontents[i][3]|safe }}
            </div>
            <div class="col-6">
                {{ quizcontents[i][4]|safe }}
            </div>
        </div>
        {% endfor %}

        {% if useridself == quizcreatorid %}
        <div class="row mt-5 h4">
            Quiz műveletek:
        </div>
            <div class="d-flex mt-3">
                <a href="/editquiz/{{ quiz[1] }}">
                    <span class="px-2 py-1 mx-3 pencil">
                        <i class="fa fa-pencil" aria-hidden="true" style="color: white;"></i>
                    </span>
                </a>
                <form method="post" action="/deletequiz" id="0">
                    <input type="hidden" name="quizid" value="{{ quiz[1] }}">
                    <a href="#" onclick="document.getElementById('0').submit()">
                        <span class="px-2 py-1 ms-3 trash">
                            <i class="fa fa-trash" aria-hidden="true" style="color: white;"></i>
                        </span>
                    </a>
                </form>
            </div>
        {% endif %}
        
    </div>
</div>
<script src="{{ url_for('static', filename='js/learn/script.js') }}"></script>
{% endblock %}
</body>
</html>